@layer components {
  .page-top-container {
    @apply flex flex-col;
  }

  .page-container {
    @apply flex flex-col flex-1 min-h-0 w-full h-full;
  }

  .page-toolbar {
    @apply flex flex-[0_0_auto] flex-wrap items-center gap-2 px-3 py-2;
    /* background-color: var(--color-srf); */
    background: linear-gradient(54deg in oklch, var(--color-srf) 39%, var(--color-srf-dim) 100%);
  }

  .page-spacer {
    @apply flex flex-[0_0_auto] gap-2 px-3 py-2 border-b;
    background: linear-gradient(54deg in oklch, var(--color-srf) 35%, var(--color-srf-dim) 100%);
    border-color: var(--color-border)
  }

  .page-section {
    @apply flex flex-col justify-center px-3 py-2;

    &.liner {
      @apply flex flex-row justify-start gap-2 items-center border-t;
      border-color: var(--color-border);
    }

    & .central {
      @apply text-lg my-1 mx-auto text-center;
    }
  }

  .page-title {
    @apply flex items-center gap-1 text-lg font-medium;
    color: var(--color-text);
  }

  .page-actions {
    @apply flex ml-auto items-center gap-2;

    & .pagination-controls {
      @apply flex items-center gap-2;

      & .combo-shell {
        @apply max-w-24;
      }
    }
  }

  .page-content {
    @apply flex flex-col flex-1 min-h-0 overflow-auto;

    & .pad {
      @apply px-3 py-0.5
    }
  }

}