[data-theme="aegean"] {
  --tone-0: oklch(0.989 0.008 252);
  --tone-1: oklch(0.978 0.014 252);
  --tone-2: oklch(0.958 0.035 252);
  --tone-3: oklch(0.936 0.053 252);
  --tone-4: oklch(0.912 0.071 252);
  --tone-5: oklch(0.88 0.09 252);
  --tone-6: oklch(0.836 0.112 252);
  --tone-7: oklch(0.772 0.142 252);
  --tone-8: oklch(0.629 0.187 252);
  --tone-9: oklch(0.587 0.193 252);
  --tone-10: oklch(0.471 0.155 252);
  --tone-11: oklch(0.353 0.103 252);

  --overlay: rgb(0.2 0.1 0 / 0.45);

  --action: oklch(0.4 0.22 250);
  --effect: oklch(0.6 0.14 250);
  --separator:
    color-mix(in oklch,
      var(--tone-10) 30%,
      var(--tone-8));
}