[data-theme="clean-slate"] {
  --tone-0: oklch(0.993 0.002 256);
  --tone-1: oklch(0.982 0.002 256);
  --tone-2: oklch(0.959 0.004 256);
  --tone-3: oklch(0.936 0.006 256);
  --tone-4: oklch(0.914 0.008 256);
  --tone-5: oklch(0.889 0.01 256);
  --tone-6: oklch(0.859 0.012 256);
  --tone-7: oklch(0.811 0.016 256);
  --tone-8: oklch(0.645 0.018 256);
  --tone-9: oklch(0.601 0.02 256);
  --tone-10: oklch(0.501 0.018 256);
  --tone-11: oklch(0.378 0.016 256);

  --overlay: rgb(0 0 0 / 0.35);

  --action: oklch(0.3 0.22 230);
  --effect: oklch(0.7 0.17 245);
  --separator:
    color-mix(in oklch,
      var(--tone-10) 30%,
      var(--tone-8));
}